.section-title {
    width: 60%;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.15;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }