.footer__columns {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    min-height: 250px;
  }