.khan__buy-link {
    text-decoration: none;
    color: #2F80ED;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    opacity: 1;
    transition: 0.5s;
  }
  
  .khan__buy-link:hover {
    opacity: 0.2;
  }